{
  "env": "local",
  "mysql": {
    "host": "app_mysql",
    "username": "root",
    "password": "password",
    "database": "app",
    "encoding": "utf8mb4",
    "port": "3306"
  },
  "redis": {
    "host": "app_redis",
    "port": 6379
  },
  "jwt": {
      "secret": "secret",
      "public_key_path": "config/api.rsa.pub",
      "private_key_path": "config/api.rsa"
  },
  "port": 8080
}